@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Saira', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}

.body__wrapper {
    /* Создание flex-контейнера для центрирования дочерних элементов */
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* Фоновый цвет */
    background-color: #b7f1fa;

    /* Высота, соответствующая высоте экрана */
    height: 100vh;
}

.card {
    /* Глубина 3D анимации */
    perspective: 1000px;   

    /* Трансформация в 3D */
    transform-style: preserve-3d;
}

.card__item {
    /* Размеры карточек */
    width: 350px;
    height: 350px;

    /* Скругление краев */
    border-radius: 10px;

    /* Цвет карточек */
    background-color: #fff;

    padding: 15px;

    /* Плавность трансформаций */
    transition: all 0.2s;
}

.card__img {
    /* Блочная модель картинки */
    display: block;

    /* Максимальная ширина по родителю */
    max-width: 100%;
}
